*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
} 


#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 8.5vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    background-color: #0BA34E;
}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}



#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}